//colores
$morado: #845ec2;
$moradosuave: #9b89b3;
$rosapastel: #fff6ff;
$amarillopastel: #fefedf;
$grisClaro: #eeeeee;
$grisFuerte: #797b7c;
$grisseparador: #b4b4b4;
$blanco: #ffffff;
$fondo: #eeeeee;
$verde: #00c9a7;
$verdeOscuro: #4d8076;
$azul: #00a8cc;
$azulOscuro: #0089ba;
$azulclaro: #00d2fc;
$moradoclaro: #c493ff;
$moradoOscuro: #4b4453;

$fuenteTitulo: "Urbanist", sans-serif;
$fuenteParrafo: "Outfit", sans-serif;
$fuenteSecundaria: "Alata", serif;

//media queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
