.register__body {
  background-image: url(../../src/img/spaceBackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
}

.register__formulario {
  padding: 2rem;
  background-color: white;
  width: 80rem;
  height: 70rem;
  display: flex;
  flex-direction: column;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 7px 8px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 8px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 8px 17px 0px rgba(0, 0, 0, 0.75);
  div {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;

    div {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
}
