@use "base/variables" as v;

.home_main_formulario {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0;

  .home_main_boton_foto {
    width: 5rem;
    height: 5rem;
  }
  .home_main_input {
    width: 60%;
    height: 65%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 0.5rem 2rem;
    font-family: v.$fuenteParrafo;
    font-size: 2rem;
    border-color: v.$grisFuerte;
    -webkit-box-shadow: 7px 13px 33px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 13px 33px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 13px 33px -7px rgba(0, 0, 0, 0.75);
    margin: 0 1rem;
    &:focus {
      outline: none;
    }
  }
  .home_main_boton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border: none;
    border-radius: 50%;
    border-color: v.$grisFuerte;
    color: white;
    -webkit-box-shadow: 7px 13px 33px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 13px 33px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 13px 33px -7px rgba(0, 0, 0, 0.75);
    background: none;
    cursor: pointer;
    background: -webkit-linear-gradient(
      338deg,
      #c18fff,
      #8a33f5,
      #553fc5
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      338deg,
      #c99dff,
      #9b49ff,
      #513db4
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    &:hover {
      background: -webkit-linear-gradient(
        338deg,
        #845ec2,
        #6471c4
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        338deg,
        #845ec2,
        #6471c4
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: black;
    }
  }
}

.home_main_input_file {
  display: none;
}

.home_main {
  justify-content: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.chat_container {
  height: 90%;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chat_mensaje {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem;
  border-radius: 10px;
  max-width: 50%;
}

.chat_mensaje.usuario {
  display: flex;
  justify-content: right;
  align-self: flex-end;
}

.chat_mensaje.otro {
  display: flex;
  justify-content: left;

  align-self: flex-start;
}

.mensaje_img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.mensaje_contenido {
  font-family: v.$fuenteParrafo;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.774);
  border-radius: 10px;
  padding: 2rem;
  gap: 1rem;
  img {
    border-radius: 10px;
    max-width: 30rem;
  }
}

.mensaje_nombre {
  font-weight: bold;
  margin: 0;
}

.mensaje_texto {
  margin: 0;
}
