@use "base/variables" as v;
.perfil_informacion_datos {
  font-size: 2rem;
  h2 {
    font-size: 2.2rem;
  }
}
.perfil_informacion {
  h3 {
    font-size: 3.5rem;
    font-weight: 800;
  }
}

.perfil_informacion_premios {
  .icono_flechaizquierda {
    left: 15%;
    top: 65%;
    &:hover {
      scale: 1.2;
    }
  }
  .icono_flechaderecha {
    right: 20%;
    top: 65%;
  }
}

.perfil_informacion_botones {
  width: 100rem;
  background-color: red;
  top: -10rem;
  position: relative;
}
