@use "base/variables" as v;

.perfil_body {
  .perfil_informacion {
    .perfil_informacion_datos {
      .perfil_informacion_dato {
        font-size: 2rem;
        h2 {
          font-weight: bold;
        }
      }
    }
  }
  .perfil_informacion_premios {
    font-family: v.$fuenteTitulo;
    .informacion_premiodash {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .fa-left-long,
      .fa-right-long {
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.2);
        }
      }
      .informacion_sticker {
        display: flex;
        overflow: hidden;
        width: 20rem;
        height: 25rem;
        position: relative;
        img {
          min-width: 100%;
          transition: opacity 0.5s ease;
          position: absolute;
          top: 0;
          left: 0;
        }
        img.hidden {
          opacity: 0;
          pointer-events: none;
        }
        img.visible {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }
  .perfil_informacion_botones {
    .informacion_boton {
      font-family: v.$fuenteTitulo;
      color: white;
      font-weight: 700;
      font-size: 2rem;
      background: -webkit-linear-gradient(
        216deg,
        #764ea6,
        #5912af,
        #2b2060
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        216deg,
        #764ea6,
        #5912af,
        #2b2060
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }
}
