.grupos_body {
  background-image: url(../../src/img/spaceBackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
  .grupos_main {
    background-color: rgba(255, 255, 255, 0.938);
    width: 60%;
    height: 80%;
    display: flex;
    padding: 2rem 0rem;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    .grupos_botones {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }

    input {
      width: 60%;
      height: 5rem;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      border: 0.1rem solid rgb(196, 194, 194);
      padding: 2rem;
    }
    .lista_usuarios {
      width: 80%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-height: 100%;
      overflow-y: auto;
      .usuario {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        img {
          border-radius: 50%;
          width: 12rem;
          height: 12rem;
          object-fit: cover;
        }
        .usuario_info {
          width: 80%;
          height: auto;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: left;
        }
      }
    }
  }
}
